<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AdidatcuongConn" connectionString="Data Source=LAPTOP-063SOLIU\SQLEXPRESS01; Initial Catalog=Adidatcuong; Persist Security Info=True; User ID=md; Password=sqlabc" providerName="System.Data.SqlClient" />
    <add name="SE_Adidatcuong.Properties.Settings.AdidatcuongConnectionString" connectionString="Data Source=LAPTOP-063SOLIU\SQLEXPRESS01;Initial Catalog=Adidatcuong;Persist Security Info=True;User ID=md;Password=sqlabc" providerName="System.Data.SqlClient" />
    <add name="AdidatcuongEntities" connectionString="metadata=res://*/Adidatcuong.csdl|res://*/Adidatcuong.ssdl|res://*/Adidatcuong.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-063SOLIU\SQLEXPRESS01;initial catalog=Adidatcuong;persist security info=True;user id=md;password=sqlabc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>